ul, li {
    margin: 0;   
    padding: 0;
}

ul {
   list-style: none; 
}

p {
    margin: 0 !important;
    padding: 0 !important;
}

.container-plataforma {
    background-color: #fbfbfb;
}

.nav {
    width: 5vw;
    height: 100vh;
    z-index: 99;
    background: linear-gradient(#309df0, #66bdff);
}

.nav li {
    width: 48px;
    height: 48px;
    border-radius: 8px;
    margin: 16px 0px 16px 0px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    z-index: 999;
}

.nav li img {
    pointer-events: none;
}

.selecionado {
    background-color: #2b9af0;
}

.submenu {
    width: 18.301610541727673vw;
    height: 100vh;
    flex-direction: column;
    -webkit-box-shadow: 4.5px 1px 4px 0px rgba(0,0,0,0.22);
    -moz-box-shadow: 4.5px 1px 4px 0px rgba(0,0,0,0.22);
    box-shadow: 4.5px 1px 4px 0px rgba(0,0,0,0.22);
    background-color: white;

}

.submenu h2 {
    flex-grow: 1;
    text-align: center;

    font-weight: bolder;
    color: #38a9ff;
}

.submenu spam {
    width: 40px;
    cursor: pointer;
}

.submenu .linha {
    width: 18.301610541727673vw;
    position: absolute;
    float: right;
}

.optionsSubmenu {
    width: 100%;
    height: 100%;
    transition: 2s;
}

.optionsSubmenu li {
    width: 180px;
    height: 35px;
    margin: 20px 0px 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 8px;
    cursor: pointer;
}

.optionsSubmenu img {
    width: 24px;
    height: 24px;
}

.imgItem {
    width: 24px;
    height: 24px;
    display: flex;
    margin-right: 5px;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.nameItem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 76px;
    margin-left: 5px;
    height: 24px;
    pointer-events: none;
}

.subSelecionado {
    background-color: #38a9ff;
    color: white;
}

.menuDesativado {
    margin-left: -260px;
    transition: 0.5s;
}

.menuAtivado {
    margin-left: 0;
    transition: 0.5s;
}

.container-content {
    height: 100%;
    flex-grow: 1;
    max-width: 1280.7px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dnone {
    display: none;
}
