.container-excluir {
    width: 450px;
    height: 300px;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.container-excluir h4 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.container-botoes {
    width: 60%;
    height: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}