.div_login{
    height: 80vh !important;
    z-index: 1;
    position: relative;
}

.height-100{
    min-height: 100%;
}

.nomeToth{
    font-size:10vh;
    color: white;
    font-family: fantasy;
    font-weight: bold;
}

html, body{
    /* background: rgb(255,244,0);
    background: linear-gradient(90deg, rgba(255,244,0,1) 0%, rgba(255,176,1,1) 87%); */
    background-image: url('../../assets/salaDeAula.jpg');
    
}

.opacidade{
    background-color: rgba(252, 223, 3,0.5);
    height: 100vh;
}

/* Novo Comit */
.divComponentLogin{
    height: 80vh;

}


.transition-5{
    transition: 0.5;
}


.h-alert{
    height: 3vh;
}