.div_login{
    height: 80vh !important;
    z-index: 1;
    position: relative;
}

.height-100{
    min-height: 100%;
}


.nomeToth{
    font-size:10vh;
    color: white;
    font-family: fantasy;
    font-weight: bold;
}



.opacidade{
    background-color: rgb(0, 132, 219);
    height: 100vh;
}

/* Novo Comit */
.divComponentLogin{
    height: 80vh;

}


.transition-5{
    transition: 0.5;
}


.h-alert{
    height: 3vh;
}