.container-cadastro {
    width: 900px;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
}

.cont {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.titulo-cadastro {
    width: 505px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    text-align: start;

    padding-top: 30px;
    box-sizing: border-box;
}

.titulo-cadastro h1 {
    font-weight: 600;
    color: white;
    text-align: center;
}

.container-etapas {
    flex-basis: 475px;
    min-height: 500px;

    border-radius: 12px;

    background-color: white;
}

.back {
    width: 800px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.back spam:hover {
    cursor: pointer;
}

.container-progress {
    width: 100%;
    height: 60px;
    border-radius: 10px 10px;
    background-color: #f5f5f5;
}

.container-steps {
    width: 100%;
    height: 350px;

    padding: 10px 0px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-input {
    width: 100%;
    height: 55px;
    display: flex;
    flex-direction: row;
    margin: 10px 0px;
}

.inputMaior {
    width: 85%;
    height: 100%;

    position: relative;
}

.inputMenor {
    width: 15%;
    height: 100%;

    position: relative;

    margin-left: 10px;
}

.buttons {
    width: 100%;
    height: 75px;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.colorOne {
    background-color: #309df0 !important;
}

.colorTwo {
    background-color: #ffc107 !important;
}

.colorThree {
    background-color: #28a745 !important;
}

.colorFour {
    background-color: #fc8e26 !important;
}

.d-none {
    display: none;
}